#contact h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #f78fb3;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #f78fb3;
}

/* .contact-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #1e3a4c;
    margin-top: 20px;
} */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-box {
    background-color: rgb(248, 165, 194);
    padding: 30px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-box input,textarea {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.contact-box input::placeholder {
    color: white;
}
.contact-box textarea::placeholder {
    color: white !important;
}
.contact-box button {
    background-color: #9e004d;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}
.contact-box button:hover {
    background-color: #9e004d;
    cursor: pointer;
}
.contact-box p {
  /* Space between icon and text */
            font-size: 24px !important; /* Adjust icon size */       
}